<div id="fixpoints-list" class="container">
  <div class="row">
    <% if !@fixpoints.empty? %>
      <% fixpoints.each do |fixpoint| %>
        <div class="col-4">
          <%= render 'fixpoints/card', fixpoint: fixpoint %>
          <%= render 'photosmodal', fixpoint: fixpoint %>
        </div>
      <% end %>
    <% else %>
      <h1>No fixpoints</h1>
    <% end %>
  </div>
</div>
